.view--card {
  display: inline-block;
  background: #ebedf2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }
  &--title {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    display: block;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #45718c;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
  }

  &--content {
    margin-bottom: 15px;
    padding: 0px 15px;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
    margin: 15px !important;
  }
}
